name: VM Deployment Pipeline
run-name: Commit - ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_call:
    inputs:
      runScript: # In case of a VM deployment, if any script have to be executed.
        required: false
        type: string
      deploymentFolder:
        required: false
        type: string
      executionRequired:
        required: false
        type: boolean
        default: false
    secrets:
      REPORTS_REPO_PAT:
        required: false
      USER:
        required: false
      HOST:
        required: false
      SSH_PRIVATE_KEY:
        required: false
        type: boolean
        default: true

jobs:
    deploy:
        name: Deploy to Host VM
        runs-on: ubuntu-latest 
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Set up SSH Key
            uses: webfactory/ssh-agent@v0.9.0
            with:
              ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY}}
          - name: Deploy
            run:  rsync -avz --exclude '.git' --chown=github:www-data --chmod=Dg=rwx,Fg=rwx ./ ${{ secrets.USER }}@${{ secrets.HOST }}:${{ vars.deploymentFolder }}
          - name: Execute script on VM
            if : ${{inputs.executionRequired}}
            run: |
                ssh ${{ secrets.USER }}@${{ secrets.HOST }} << 'EOF' 
                  chmod +x ${{ vars.deploymentFolder }}/${{ vars.runScript }}
                  /bin/bash ${{ vars.deploymentFolder }}/${{ vars.runScript }}
                EOF