name: VM Deployment Pipeline
run-name: Commit - ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_call:
    inputs:
      runScript:
        required: false
        type: string
      deploymentFolder:
        required: false
        type: string
      executionRequired:
        required: false
        type: boolean
        default: false
      environmentName:
        required: false
        type: string
        default: main
      envType:
        required: false
        type: string
        default: "AWS"

jobs:
  deploy:
    name: Deploy to Host VM
    environment: ${{ inputs.environmentName }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check AWS CLI version
        if: inputs.envType == 'AWS'
        run: aws --version

      - name: Configure AWS credentials
        if: inputs.envType == 'AWS'
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
          output-credentials: true
        # permissions:
        #   id-token: write   # This is required for requesting the JWT
        #   contents: read 

      - name: Install AWS CLI Session Manager plugin
        if: inputs.envType == 'AWS'
        run: |
          curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
          sudo dpkg -i session-manager-plugin.deb

      - name: AWS VM Deploy
        if: ${{ inputs.executionRequired && inputs.envType == 'AWS' }}
        run: |
          rsync -avz --exclude '.git' --chown=github:www-data --chmod=Dg=rwx,Fg=rwx -e "ssh -o ProxyCommand='aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=22'" ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOSTNAME }}:${{ inputs.deploymentFolder }}

      - name: Execute script on AWS VM
        if: ${{ inputs.executionRequired && inputs.envType == 'AWS' }}
        run: |
          aws ssm start-session --document-name 'AWS-StartNonInteractiveCommand' --parameters '{"command": ["chmod +x ${{ inputs.deploymentFolder }}/${{ inputs.runScript }}"]}' --target ${{ secrets.SSH_HOSTNAME }}
          aws ssm start-session --document-name 'AWS-StartNonInteractiveCommand' --parameters '{"command": ["/bin/bash ${{ inputs.deploymentFolder }}/${{ inputs.runScript }}"]}' --target ${{ secrets.SSH_HOSTNAME }}
      # - name: Set up SSH Key
      #   uses: webfactory/ssh-agent@v0.9.0
      #   with:
      #     ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # - name: Add Known Hosts
      #   run: |
      #     mkdir -p ~/.ssh
      #     ssh-keyscan -H ${{ secrets.SSH_HOSTNAME }} >> ~/.ssh/known_hosts

      # - name: VM Deploy
      #   if: ${{ inputs.executionRequired && inputs.envType == 'AWS' }}
      #   run: |
      #     rsync -avz --exclude '.git' --chown=github:www-data --chmod=Dg=rwx,Fg=rwx ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOSTNAME }}:${{ inputs.deploymentFolder }}

      # - name: Execute script on VM
      #   if: ${{ inputs.executionRequired }}
      #   run: |
      #     ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOSTNAME }} "chmod +x ${{ inputs.deploymentFolder }}/${{ inputs.runScript }} && /bin/bash ${{ inputs.deploymentFolder }}/${{ inputs.runScript }}"
